#div-posts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.confirmar-criacao-post{
    width: 520px;
    margin: 15px;
    background-color: rgb(84, 131, 78);
    font-size: 30px;
    border: solid 2px #D9D9D9;
    border-radius: 20px;
    color: #D9D9D9;
    cursor: pointer;
}

.criar-button {
    background-color: #def2d5;
    border: none;
    color: #D9D9D9;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    border-radius: 100px;
    font-size: 36px;
    position: fixed;
    width: 60px;
    top: 90%;
    left: 95%;
}

.criar-button:hover {
    background-color: rgb(84, 131, 78);
    cursor: pointer;
}

.divBtn{
    display: flex;
    justify-content: center;
    margin-top: 140px;
}

#criandoPost{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.frmCriandoPost {
    background-color: #def2d5;
    padding: 20px;
    border-radius: 20px;
}

#botoesCreateAndDelete{
    display: flex;
    justify-content: center;
}

.conteudo-novo-post{
    resize: none;
    width: 1200px;
    height: 200px;
    font-size: 20px;
    
}

.link-imagem{
    width: 1200px;
    height: 30px;
    border-radius: 10px;
    border: none;
}

.text{
    font-size: 20px;
    text-align: left;
}