#telaDescartar {
    display: flex;
    flex-direction: column;
    background-color: #6CBA7F;
    width: 90vw;
    margin: auto;
    border-radius: 30px;
}

.buscar {
    margin-top: 60px;
    margin-left: 90px;
    overflow: hidden;
    color: white;
    font-size: 26px;
    width: 40vw;
}

.lugares {
    margin-top: 60px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #DEF2D5;
    width: 42.5vw;
    border-radius: 20px;
}

#tituloBuscar {
    color: #DEF2D5;
    width: 400px;
}

#btnBuscarNoMapa {
    width: 245px;
    height: 74px;
    border: none;
    background-color: #31733C;
    color: #DEF2D5;
    border-radius: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;

}

.barradebusca{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.botoesLixos{
    display: flex;
    flex-direction: column;
}

#btnLixo{
    width: 245px;
    height: 38px;
    border: none;
    background-color: #D9D9D9;
    color: #000000;
    border-radius: 25px;
    margin: 5px;
    padding: 25px;
    text-align: left;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
    display: flex;
}
.botoesDeBusca{
    margin: 25px;
}

#btnBuscarNoMapa:hover, #btnLixo:hover{
    transform: scale(1.1);
    transition: 0.1s;
    cursor: pointer;
}