header{
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: space-around;
    background-color: #def2d5;
    border-radius: 37.5pc;
    width: 1200px;
    height: 100px;
    margin: auto;
    margin-top: 40px;
}


#logo{
    margin-top: 15px;
    width: 90px;
    height: 70px;
}

a{
    text-decoration: none;
    color: black;
}

h3{
    margin-top: 35px;
}

button{
    margin-top:  30px;
    background-color: white;
    border: none;
    border-radius: 30px;
    height: 40px;
    width: 80px;
    font-size: large;
    font-family: 'Poppins', sans-serif;
}

#divBusca{
    margin-top: 35px;
    background: #FFFAFA;
    border-radius: 37px ;
    width:  263px;
    height: 31px;
}


#txtBusca{
    float:left;
    background-color:transparent;
    padding-left: 10px;
    font-size:18px;
    border:none;
    height: 30px;
    width: 195px;
}

input:focus{
    outline: 0;
}

#btnBusca{
    position: absolute;
    top: 80px;
    width: 22px;
    height: 22px;
}