post {
    display: flex;
    background-color: rgb(84, 131, 78);
    margin: 25px;
    border-radius: 50px;
}

.temaArtigo {
    margin: 60px;
    overflow: hidden;
    color: white;
    font-size: 26px;
}

#imagemArtigo {
    width: 640px;
    height: 360px;
    border-radius: 20px;
}

.comenteAqui {
    margin: 30px;
}

.conteudo{
    width: 600px;
}