.nav {
    padding: 0;
    list-style: none;
    width: 700px;
    font-size: 80px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border-radius: 50px;
    overflow: hidden;
}

ul {
    list-style: none;
    border-radius: 50px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

li a {
    display: block;
    text-decoration: none;
    color: black;
    background: #fff;
    padding: 5px;
    padding-left: 20px;
}

li:hover { 
    display: block;
    text-decoration: underline;
}

#descartar a {
    background-color: #8C7C2B;
}

#aprender a {
    background-color: #DAFDBA;
}

#inspirar a {
    background-color: #9AEBA3;
}

#sobre a {
    background-color: #336F60;
}