#divdivComentario {
    margin-top: 35px;
    background: #FFFAFA;
    width:  233px;
    height: 31px;
}

#txtComentario {
    float:left;
    padding-left: 10px;
    font-size:18px;
    border:none;
    height: 40px;
    width: 540px;
}

input:focus{
    outline: 0;
}