.perfil {
    background-color: #6CBA7F;
    width: 75vw;
    text-align: center;
    margin: auto;
    margin-top: 150px;
    padding: 30px;
    border-radius: 25px;
    display: grid;
    grid-template-areas: 
    "info amigos"
    "info descricao";
}

#foto {
    border: solid 5px white;
    border-radius: 100%;
    width: 300px;
}

.nomeUsuario {
    background-color: inherit;
    width: 450px;
    margin: auto;font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;

}

.biografia{
    color: #FFFFFF;
    background-color: #70AB7E;
    grid-area: "descricao";
    grid-column-start: 2;
    margin: 15px;
    border-radius: 20px;
    font-weight: 600;
}

.amigos {
    grid-area: "amigos";
    margin: 15px;
    background-color: #70AB7E;
    border-radius: 25px;
    overflow-x: auto;
}

.informacoes_pessoais{
    background-color: rgb(213, 251, 209);
    grid-area: "info";
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.foto_do_amigo {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin: 15px;
    border: solid 5px white;
}

#icones_de_usuario{
    display: flex;
    justify-content:space-around;
    padding: 15px;
    padding-left: 400px;
    overflow: auto;
    width: 300px;
}

p.txtFora {
    text-align: left;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    margin-left: 15px;
}
.perfil-amigo{
    border-radius: 25px;
    margin: 10px;
}
h3.nomeAmigo{
    margin: 0;
    font-size: 24px;
}

.biografia p{
    padding: 15px;
}

.post {
    display: flex;
    background-color: rgb(84, 131, 78);
    margin: 25px;
    border-radius: 50px;
}

.temaArtigo {
    margin: 60px;
    overflow: hidden;
    color: white;
    font-size: 26px;
}

#imagemArtigo {
    width: 640px;
    height: 360px;
    border-radius: 20px;
}

.conteudo{
    width: 600px;
}

.areaPosts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.confirmar-criacao-post{
    width: 200px;
    margin: 15px;
    background-color: rgb(84, 131, 78);
    font-size: 30px;
    border: solid 2px #D9D9D9;
    border-radius: 20px;
    color: #D9D9D9;
    cursor: pointer;
}

#icones_de_usuario::-webkit-scrollbar{
    border-radius: 25px;
    height: 10px;
}

#icones_de_usuario::-webkit-scrollbar-thumb{
    background-color: #FFFFFF;
    border-radius: 25px;
}