body {
    background-image: url("../../assets/img/Fotos/Fundo_Home2.jpg");
    background-size: auto 900px;
    background-repeat: no-repeat;
    background-color: #2D5C38;
}

.header {
    display: flex;
    justify-content: center;
}

#intro {
    font-family: 'Poppins', sans-serif;
    height: 600px;
}

.card {
    margin-top: 300px;
    margin-left: 160px;
    padding: 30px;
    padding-bottom: 40px;
    background: #4E8D43;
    opacity: 0.8;
    width: 450px;
    border-radius: 0px 80px 0px 0px;
}

.card .texto {
    opacity: 1;
    color: white;
    text-align: left;
}

.texto p {
    font-size: 16pt;
}

.texto span {
    font-size: 13pt;
}

#menuVertical {
    display: block;
    background-color: #2D5C38;

}

.menuVertical {
    margin-top: 100px;
    margin-right: 100px;
    float: left;
}